body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    background-color: #c5e6ea;

}
 .container{
    background-color: #7eafaa;
    width: 400px;
    color: rgb(16, 2, 2);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 20px 20px 20px #01253155;
    
 }
  .container h1{
    margin: 0;
    font-size: x-large;
    font-weight: 500;
    text-align: center;

  }

  .container .image img{
    width: 95%;

  }
  .container .image{
    background-color: #fff;
    padding:20%;
    border-radius: 30px;
    margin: 20px 12px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flexbox;
    overflow: hidden;
    padding: 30px;

  }
 .form input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: sans-serif;
    border: none;
    padding:10px;
    margin: 2px;
    
    
 }
 .form button{
    background-color: #2aca8e;
    border: none;
    width: 100%;
    color:white;
    padding: 20px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
 }
